$prim-font-light: "Gotham Rounded Light", sans-serif;
$prim-font-reg: "Gotham Rounded Book", sans-serif;
$prim-font-med: "Gotham Rounded Medium", sans-serif;
$prim-font-bold: "Gotham Rounded Bold", sans-serif;

$prim-font: $prim-font-reg;

$wrapper: 1200px;
