* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        @include bg($primary);
        color: white;
    }
}

body {
    @include bg($dark-bg);
    min-height: 100vh;
}

span.accent {
    color: $primary;
}

textarea {
    position: absolute;
    top: -10000000px;
    left: -1000000px;
    pointer-events: none;
    opacity: 0;
}