* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        @include bg($primary);
        color: white;
    }
}

body {
    @include bg($dark-bg);
    min-height: 100vh;
}

span.accent {
    color: $primary;
}