.keyboard-container {
  @include bg(var(--primary-bg));
  @include radius(1rem);
  padding: 2rem 1rem;
  margin-top: auto;
  display: none;
  .keyboard {
    @include wrapper(900px);
    @include flex(column, nowrap, center, center);
    gap: 1rem;
    ul {
      @include flex(row, nowrap, center, center);
      gap: 0.25rem;
      li {
        @include container(0, var(--secondary-bg), var(--dark-text), 0.5rem);
        @include same-size(45px);
        @include center-flex;
        font-family: $prim-font-med;
        font-size: 1.1rem;
        cursor: pointer;
        box-shadow: 2px 4px 0px rgba(black, 0.15);
        transition: 0.1s;
        &::selection {
          @include bg(transparent);
        }
        &:active {
          box-shadow: 0 0 0 rgba(black, 0);
          margin-top: 2px;
          margin-left: 2px;
          margin-right: -2px;
          margin-bottom: -2px;
        }
      }
    }
  }
  @media (min-width: 580px) {
    display: block;
  }
}
