header {
    @include wrapper($wrapper);
    @include bg($darker-bg);
    @include radius(.65rem);
    @include flex(column, nowrap, space-between, center);
    padding: 1rem 2rem;
    min-height: 50px;
    @include break(smedium) {
        flex-direction: row;
    }
    h1 {
        color: white;
        font-size: 1.4rem;
        span {
            text-transform: uppercase;;
        }
    }
    .streak-container {
        @include flex(row, wrap, center, center);
        margin-top: 2rem;
        gap: 0 1rem;
        color: white;
        @include break(smedium) {
            margin-top: auto;
        }
        span {
            font-size: 1.2rem;
            margin-left: .5rem;
            @include break(medium) {
                font-size: 1.5rem;
            }
        }
    }
}