.overlay {
    @include flex(column, nowrap, center, center);
    @include bg($darker-bg);
    @include size(100vh, 100%);
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    // title
    h1.game-title {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: white;
        @include break(smedium) {
            font-size: 3rem;
        }
        @include break(medium) {
            font-size: 4rem;
        }
        span.accent {
            text-transform: uppercase;
        }
    }
    // game stats
    .game-stats {
        @include wrapper(500px);
        display: none;
        text-align: center;
        .header-container {
            @include center-flex;
            flex-direction: column;
            position: relative;
            // height: 150px;
            overflow: hidden;
            margin-bottom: 2rem;
            h3 {
                text-align: center;
                opacity: 0;
                margin-top: .6rem;
                color: white;
                font-size: 1.1rem;
                margin-bottom: -50px;
                transition: opacity 1s ease, transform .6s ease;
                animation: fadeInWord 1s 1s ease forwards;
                @include break(medium) {
                    font-size: 2rem;
                }
            }
        }
        .stat-container {
            @include bg($darkest-bg);
            @include radius(.85rem);
            font-size: 1.1rem;
            line-height: 2rem;
            color: white;
            padding: 1.25rem;
            .stat-message {
                display: none;
            }
            .streaks-container {
                margin-bottom: 1.5rem;
            }
            .personal-best-message {
                color: $primary;
            }
            button {
                @include bg($primary);
                cursor: pointer;
                @include radius(5px);
                margin-top: 1.5rem;
                font-size: 1rem;
                color: $darkest-bg;
                padding: .75rem 1.25rem;
                border: none;
            }
        }
        
    }

    // game buttons
    .btn-group {
        @include flex(row, wrap, center, center);
        @include wrapper(400px);
        margin-top: 5rem;
        gap: 1rem;
        @include break(smedium) {
            flex-wrap: nowrap;
        }
        button {
            @include radius(5px);
            @include bg($dark-bg);
            width: 100%;
            cursor: pointer;
            border: none;
            padding: .75rem 1rem;
            font-size: 1rem;
            transition: color .3s ease, background .3s ease, opacity 0.3s ease;
            &:first-child {
                color: white;
            }
            &:last-child {
                color: $primary;
            }
            &:hover {
                @include bg($primary);
                color: $darker-bg;
            }
            &[disabled] {
                opacity: 0.2;
                pointer-events: none;
                &#startNewGame {
                    opacity: 1;
                }
            }
        }
    }
}


@keyframes fadeInWord {
    0% {
        opacity: 0;
    }
    100% {
        margin-bottom: 0;
        opacity: 1;
    }
}