section.progress-bar {
    @include wrapper($wrapper);
    @include size(8px, 100%);
    @include radius(25px);
    @include bg($darker-bg);
    // @include flex(row, nowrap, flex-end, center);
    overflow: hidden;
    margin: 0 auto;
    .progress {
        --progress: 100%;
        @include size(100%, var(--progress));
        @include bg($primary);
        @include radius(25px);
        transition: width 10s linear;
        animation: timer 10s linear forwards;
    }
}


@keyframes timer {
    0% {
        @include bg($primary);
        width: 100%;
    }
    60% {
        @include bg($error-red);
    }
    100% {
        @include bg($error-red);
        width: 0%;
    }
}