section.scramble {
    @include flex(column, nowrap, center, center);
    ul.scrambled-word-container,
    ul.scrambled-word-guess-container {
        @include flex(row, nowrap, center, center);
        list-style: none;
    }
    ul.scrambled-word-container {
        gap: 1rem;
        font-size: 1.5rem;
        color: white;
        @include break(smedium) {
            font-size: 2.5rem;
        }
        @include break(medium) {
            font-size: 3rem;
        }
    }
    ul.scrambled-word-guess-container {
        flex-wrap: wrap;
        margin-top: 1.5rem;
        li {
            @include same-size(35px);
            @include radius(5px);
            @include bg($gray);
            @include center-flex;
            margin: .25rem;
            font-size: 1rem;
            color: $darker-bg;
            transition: background .3s ease, transform .3s ease;
            animation: flipInY 1.2s ease forwards;
            @include break(smedium) {
                @include same-size(45px);
                font-size: 1.5rem;
            }
            @include break(medium) {
                @include same-size(75px);
                font-size: 2.5rem;
            }
            &.pending {
                @include bg($primary);
                transform: translateY(15px);
            }
            &.correct {
                @include bg($correct-green);
                animation: flipOutY 1.2s ease forwards;
            }
            &.wrong {
                @include bg($error-red);
                animation: fadeOutDown 1.2s ease forwards;
            }
        }
    }
}