.gameboard {
    @include flex(column, nowrap, flex-start, stretch);
    display: none;
    min-height: 100vh;
    width: 100%;
    padding: .5rem;
    @include break(smedium) {
        padding: 2rem;
    }
    section {
        margin: 1rem auto;
        &:last-child {
            margin: 0;
            margin-bottom: 4rem;
            @include bg(red);
            @include break(medium) {
                margin-bottom: 0;
            }
        }
        &.scramble {
            margin: auto;
        }
    }
}



// T EM M P O R AR Y

.overlay {
    display: none!important;
}
main.gameboard {
    display: flex!important;
}